ion-header ion-toolbar {
  --background: var(--color-white);
  --color: var(--color-gray-800);
  --border-width: 0;
  box-shadow: var(--shadow);
}

ion-header ion-title {
  font-weight: 600;
  font-size: 18px;
}

ion-header ion-button {
  --color: var(--color-gray-600);
}

ion-header ion-button:hover {
  --color: var(--color-primary);
}
